@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'poppins', sans-serif;
}

body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  background: linear-gradient(90deg, rgb(0, 97, 255) -20%, rgb(96, 239, 255) 100%);
  scrollbar-width: none;
}

body h2 {
  color: rgb(34, 34, 34)
}

main {
  background-color: rgb(34, 34, 34);
  padding: 20px;
  border-radius: 20px;
  width: 100%;
  max-width: 400px;
  min-height: 300px;
  display: flex;
  align-items: top;
  justify-content: center;
}

.content {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 20px;
}

.spnQtd {
  text-align: end;
  color: white;
}

.question{
  color: white;
}

.answers {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

button {
  width: 100%;
  text-align: start;
  padding: 10px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
 background: linear-gradient(90deg, rgb(255, 15, 123) -20%, rgb(248, 155, 41) 100%);
  color: white;
}

.finish {
  display: none;
  flex-direction: column;
  gap: 20px;
  color: white;
}

.finish button {
  text-align: center;
}